{% include '/analytics/tab_bar.html' %}
<link rel="stylesheet" type="text/css" href="/assets/css/analysis/social_presence.css">
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> Subscription Analysis (across channels)
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<section class="dev_parent_section">
			<div class="row">
				<div class="col-md-12 heading_area">
					<h3 class="top_heading">
						Social Presence
					</h3>
				</div>

				<div class="col-md-4">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									You Tube
								</h3>
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/archive/b/b8/20220605194643%21YouTube_Logo_2017.svg" />
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Connected
								</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">8</h3>
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">34k</h3>
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">24k</h3>
								<h3 class="social_label">Followers</h3>
							</div>
						</div>			
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									Instagram
								</h3>
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" />
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Connected
								</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="instagram_media_count">8</h3>
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="instagram_following_count">34k</h3>
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="instagram_followers_count">24k</h3>
								<h3 class="social_label">Followers</h3>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									Twitter
								</h3>
								<img class="social_img" src="https://freelogopng.com/images/all_img/1657045399twitter-icon-png.png" />
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Connected
								</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="twitter_media_count">8</h3>
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="twitter_following_count">34k</h3>
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count" id="twitter_followers_count">24k</h3>
								<h3 class="social_label">Followers</h3>
							</div>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									LinkedIn
								</h3>
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" />
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Connected
								</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">8</h3>
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">34k</h3>
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								<h3 class="social_count">24k</h3>
								<h3 class="social_label">Followers</h3>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- <div class="content_body">
		<div class="row">
			<div class="channel_stats">
				<h2 class="title">Social Media Stats</h2>
				{% if organization_channels %}
				<div class="social_media_stats_block">
					{% for channel_unique_name, channel_stats in organization_channels %}
					<div class="social_media_stats_section">
						<div class="stats_title">
							<span class="social-icons icon-circle">
										{% set social_icon_unique_key = channel_unique_name %}
										{% include 'social_icons.html' %}
							</span>
							<span class="channel_name">{{channel_stats['name']}}</span>
						</div>
						<div class="stats_data">
							{% for index, channel_data in channel_stats['analytics'] %}
							<div class="data_row">
								<span class="data-title">{{channel_data['title']}}</span>
								<span class="data-value">{{channel_data['count'] | number_format(0, '.', ',')}}</span>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<h4 class="text-center">No Channels available for your organization</h4>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="channel_stats">
				<h2 class="title">Website Stats</h2>
				<div class="users_stats_block">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-3">
							<div class="user_count_card">
								<div class="icon-section">
									<i class="fa fa-users fa-4x" aria-hidden="true"></i><br>
								</div>
								<div class="content-section">
									<h2>Users</h2>
									<sub>Last 14 Days</sub>
									<h1>{{ last_days_users_count }}</h1>
								</div>
							</div>
						</div>
						<div class="col-9">
							<div id="users_stats_columns_bar_chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>

<!-- <script type="text/javascript">
    google.charts.load('current', {'packages': ['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var users_data = [
            ['Date', 'Users Active', {role: 'style'}],
        ].concat({{graph_users_count | raw}})
        ;

        var data = google.visualization.arrayToDataTable(users_data);

        var options = {
            height: 400,
            titleTextStyle: {
                color: '#1998bf', fontSize: 30,
                bold: true,
                italic: false
            },
            chart: {
                title: 'Users Stats',
                subtitle: 'Users count per day',
            },
            titlePosition: 'in',
            legend: {
                position: 'none', // top
                maxLines: 3,
                textStyle: {
                    color: 'grey', fontSize: 18,
                    bold: true,
                    italic: false
                },
                alignment: 'center',
            },

            hAxis: {
                titleTextStyle: {
                    color: '#1998bf',
                    fontSize: 20,
                    bold: true,
                    italic: false
                },
                textPosition: 'in',
                title: 'Date'
            },
            vAxis: {
                titleTextStyle: {
                    color: '#1998bf',
                    fontSize: 20,
                    bold: true,
                    italic: false
                },
                minValue: 0,
                format: 'decimal',
                title: 'No. Of Users Active'
            },
            axes: {
                x: {
                    0: {
                        side: 'bottom',
                        // label: 'Last 14 days'
                    },
                },
            },
            bars: 'vertical',
            bar: {
                groupWidth: "80%"
            },
        };

        var chart = new google.charts.Bar(document.getElementById('users_stats_columns_bar_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script> -->