{% include '/analytics/tab_bar.html' %}
<link rel="stylesheet" type="text/css" href="/assets/css/analysis/social_presence.css">
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> Subscription Analysis (across channels)
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<section class="dev_parent_section">
			<div class="row">
				<div class="col-md-12 heading_area">
					<h3 class="top_heading" style="text-align: right;">
                        Social Presence
						<select class="select_filter">
                            <option selected>Weekly</option>
                            <option>Monthly</option>
                            <option>Yearly</option>
                        </select>
					</h3>
				</div>

				{% if all_social_medias.status == "success" %}
				{% for socialMedia in all_social_medias.data %}
				<div class="col-md-6">
					<div class="content">
						<div class="row">
                            <div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									{{socialMedia.name}}
								</h3>
								{% if socialMedia.name == 'Instagram' %}
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" />
								{% elseif socialMedia.name == 'LinkedIn' %}
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" />
								<img width="100px" style="position: absolute;" class="coming_soon" src="https://static.vecteezy.com/system/resources/previews/017/197/459/original/coming-soon-icon-symbol-on-transparent-background-free-png.png"  />
								{% elseif socialMedia.name == 'Youtube' %}
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" />
								{% elseif socialMedia.name == 'Facebook' %}
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png" />
								{% elseif socialMedia.name == 'Twitter' %}
								<img class="social_img" src="https://freelogopng.com/images/all_img/1657045399twitter-icon-png.png" />
								<img width="100px" style="position: absolute;" class="coming_soon" src="https://static.vecteezy.com/system/resources/previews/017/197/459/original/coming-soon-icon-symbol-on-transparent-background-free-png.png"  />
								{% endif %}
							</div>
							{% if socialMedia.status == 'Active' %}
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Connected
								</h3>
							</div>
							{% else %}
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status_not_connected">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label_not_connected">
									Not Connected
								</h3>
							</div>
							{% endif %}
							{% if socialMedia.name == 'Instagram' %}
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.fistValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.fistValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.secondValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.thirdvalIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Followers</h3>
							</div>
							{% elseif socialMedia.name == 'LinkedIn' %}
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.fistValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.fistValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.secondValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Page Views</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.thirdvalIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Followers</h3>
							</div>
							{% elseif socialMedia.name == 'Youtube' %}
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.fistValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.fistValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Videos</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.secondValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Views</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.thirdvalIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Subscribers</h3>
							</div>
							{% elseif socialMedia.name == 'Facebook' %}
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.fistValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.fistValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Posts</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.secondValIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.thirdvalIncStatus == 1) %}
								<h3 class="social_count inc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 2) %}
								<h3 class="social_count desc_num">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 0) %}
								<h3 class="social_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Followers</h3>
							</div>
							{% elseif socialMedia.name == 'Twitter' %}
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.fistValIncStatus == 1) %}
								<h3 class="social_count inc_num" id="twitter_media_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.fistValIncStatus == 2) %}
								<h3 class="social_count desc_num" id="twitter_media_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count" id="twitter_media_count">
									{{socialMedia.totalPosts ? socialMedia.totalPosts : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Tweets</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.secondValIncStatus == 1) %}
								<h3 class="social_count inc_num" id="twitter_following_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 2) %}
								<h3 class="social_count desc_num" id="twitter_following_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count" id="twitter_following_count">
									{{socialMedia.totalFollowing ? socialMedia.totalFollowing : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Following</h3>
							</div>
							<div class="col-md-4 col-sm-4 col-4">
								{% if(socialMedia.thirdvalIncStatus == 1) %}
								<h3 class="social_count inc_num" id="twitter_followers_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-up" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.thirdvalIncStatus == 2) %}
								<h3 class="social_count desc_num" id="twitter_followers_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
									<i class="fa fa-arrow-down" style="font-size: 1.4rem;"></i>
								</h3>
								{% elseif(socialMedia.secondValIncStatus == 0) %}
								<h3 class="social_count" id="twitter_followers_count">
									{{socialMedia.totalFollowers ? socialMedia.totalFollowers : 0}}
								</h3>
								{% endif %}
								<h3 class="social_label">Followers</h3>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div class="col-md-6">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_name">
									No Account
								</h3>
								<img class="social_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" />
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<h3 class="box_heading_status">
									Status <i class="fa fa-circle"></i>
								</h3>
								<h3 class="box_heading_status_label">
									Unknown
								</h3>
							</div>
						</div>			
					</div>
				</div>
				{% endif %}
			</div>
		</section>
	</div>
	<!-- <div class="content_body">
		<div class="row">
			<div class="channel_stats">
				<h2 class="title">Social Media Stats</h2>
				{% if organization_channels %}
				<div class="social_media_stats_block">
					{% for channel_unique_name, channel_stats in organization_channels %}
					<div class="social_media_stats_section">
						<div class="stats_title">
							<span class="social-icons icon-circle">
										{% set social_icon_unique_key = channel_unique_name %}
										{% include 'social_icons.html' %}
							</span>
							<span class="channel_name">{{channel_stats['name']}}</span>
						</div>
						<div class="stats_data">
							{% for index, channel_data in channel_stats['analytics'] %}
							<div class="data_row">
								<span class="data-title">{{channel_data['title']}}</span>
								<span class="data-value">{{channel_data['count'] | number_format(0, '.', ',')}}</span>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<h4 class="text-center">No Channels available for your organization</h4>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="channel_stats">
				<h2 class="title">Website Stats</h2>
				<div class="users_stats_block">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-3">
							<div class="user_count_card">
								<div class="icon-section">
									<i class="fa fa-users fa-4x" aria-hidden="true"></i><br>
								</div>
								<div class="content-section">
									<h2>Users</h2>
									<sub>Last 14 Days</sub>
									<h1>{{ last_days_users_count }}</h1>
								</div>
							</div>
						</div>
						<div class="col-9">
							<div id="users_stats_columns_bar_chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>

<!-- <script type="text/javascript">
    google.charts.load('current', {'packages': ['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var users_data = [
            ['Date', 'Users Active', {role: 'style'}],
        ].concat({{graph_users_count | raw}})
        ;

        var data = google.visualization.arrayToDataTable(users_data);

        var options = {
            height: 400,
            titleTextStyle: {
                color: '#1998bf', fontSize: 30,
                bold: true,
                italic: false
            },
            chart: {
                title: 'Users Stats',
                subtitle: 'Users count per day',
            },
            titlePosition: 'in',
            legend: {
                position: 'none', // top
                maxLines: 3,
                textStyle: {
                    color: 'grey', fontSize: 18,
                    bold: true,
                    italic: false
                },
                alignment: 'center',
            },

            hAxis: {
                titleTextStyle: {
                    color: '#1998bf',
                    fontSize: 20,
                    bold: true,
                    italic: false
                },
                textPosition: 'in',
                title: 'Date'
            },
            vAxis: {
                titleTextStyle: {
                    color: '#1998bf',
                    fontSize: 20,
                    bold: true,
                    italic: false
                },
                minValue: 0,
                format: 'decimal',
                title: 'No. Of Users Active'
            },
            axes: {
                x: {
                    0: {
                        side: 'bottom',
                        // label: 'Last 14 days'
                    },
                },
            },
            bars: 'vertical',
            bar: {
                groupWidth: "80%"
            },
        };

        var chart = new google.charts.Bar(document.getElementById('users_stats_columns_bar_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script> -->