{% include '/analytics/tab_bar.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/analysis/compititor_analytics.css">
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> Competitor Analysis
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<section class="dev_parent_section">
			<div class="row">
				<div class="col-md-12 heading_area">
					<h3 class="top_heading">
						Compare Channels
						<select class="top_heading_filter">
							<option>Youtube</option>
						</select>
					</h3>
				</div>

				<div class="col-md-4 channel_info">
					<div class="channel_search_parent">
						<div class="input-group">
						    <input type="text" class="form-control" placeholder="PowDiwPie" value="PowDiwPie" disabled>
						    <span class="input-group-text">
						    	<i class="fa fa-search"></i>
						    </span>
					  	</div>
					  	<div class="right_part_right">
							<span>VS</span>
						</div>
					</div>
					<img class="channel_img" id="channel_1_image" src="/assets/images/PewDiePie.webp"  />
					<h3 class="channel_name channel_1_name">PewDiePie</h3>
					<h3 class="channel_sub_heading">
						<span class="channel_1_subs">111M</span> subscribers <i class="fa fa-circle"></i>
						<span id="channel_1_total_videos">4500</span> videos
					</h3>
					<div class="content">
			          <h3 class="box_heading">Views</h3>
			          <p class="box_heading_numbers inc_num" id="channel_1_views">110.5K <span id="channel_1_percentage_view">+23%</span><i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading">   Compared to (<span id="channel_1_prev_view">80.3K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Subscribers</h3>
			          <p class="box_heading_numbers inc_num channel_1_subs" >100K <span id="channel_1_percentage_subs">+30%</span> <i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading">  Compared to (<span id="channel_1_prev_subs">70.3K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Revenue</h3>
			          <p class="box_heading_numbers inc_num" id="channel_1_revenue">145.5K  <span id="channel_1_percentage_revenue" >+13%</span> <i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading">   Compared to (<span id="channel_1_prev_revenue">132.1K</span> last month)</p>
			        </div>

			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_1_rank">3</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Global Rank</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_1_watch_time">232h 21m</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Watch Time</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_1_total_likes">234k</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Total Likes</h3>
			        </div>
				</div>
				<div class="col-md-4 channel_info">
					<div class="channel_search_parent">
						<div class="input-group">
						    <input type="text" class="form-control" placeholder="T series" value="T series" disabled>
						    <span class="input-group-text">
						    	<i class="fa fa-search"></i>
						    </span>
					  	</div>
					  	<div class="right_part_right">
							<span>VS</span>
						</div>
					</div>
					<img class="channel_img" id="channel_2_image" src="/assets/images/tseries.png"  />
					<h3 class="channel_name" id="channel_2_name">T series</h3>
					<h3 class="channel_sub_heading">
						<span class="channel_2_subs">223M</span> subscribers <i class="fa fa-circle"></i>
						<span id="channel_2_total_videos">17348</span> videos
					</h3>
					<div class="content">
			          <h3 class="box_heading">Views</h3>
			          <p class="box_heading_numbers desc_num" id="channel_2_views" >103K  <span id="channel_2_percentage_view">+13%</span><i class="fa fa-angle-down"></i></p>
			          <p class="box_sub_heading"> Compared to (<span id="channel_2_prev_view">122.6K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Subscribers</h3>
			          <p class="box_heading_numbers desc_num channel_2_subs">123.5K <span id="channel_2_percentage_subs">+10%</span> <i class="fa fa-angle-down"></i></p>
			          <p class="box_sub_heading">    Compared to (<span id="channel_2_prev_subs">135.3K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Revenue</h3>
			          <p class="box_heading_numbers desc_num" id="channel_2_revenue">90.5K <span id="channel_2_percentage_revenue">+8%</span>  <i class="fa fa-angle-down"></i></p>
			          <p class="box_sub_heading">  Compared to (<span id="channel_2_prev_revenue">105.9K</span> last month)</p>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_2_rank">7</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Global Rank</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_2_watch_time">105h 7m</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Watch Time</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_2_total_likes">107k</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Total Likes</h3>
			        </div>
				</div>
				<div class="col-md-4 channel_info">
					<div class="channel_search_parent">
						<div class="input-group">
						    <input type="text" class="form-control" placeholder="Sony India" value="Sony India" disabled>
						    <span class="input-group-text">
						    	<i class="fa fa-search"></i>
						    </span>
					  	</div>
					</div>
					<img class="channel_img" id="channel_3_image" src="/assets/images/sony.png" />
					<h3 class="channel_name" id="channel_3_name">Sony India</h3>
					<h3 class="channel_sub_heading">
						<span class="channel_3_subs">140M</span> subscribers <i class="fa fa-circle"></i>
						<span id="channel_3_total_videos">91815</span> videos
					</h3>
					<div class="content">
			          <h3 class="box_heading">Views</h3>
			          <p class="box_heading_numbers inc_num" id="channel_3_views">143K  <span id="channel_3_percentage_view">+43%</span><i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading">  Compared to (<span id="channel_3_prev_view">82.3K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Subscribers</h3>
			          <p class="box_heading_numbers inc_num channel_3_subs">130.5K <span id="channel_3_percentage_subs">+28%</span> <i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading"> Compared to (<span id="channel_3_prev_subs">102.3K</span> last month)</p>
			        </div>
			        <div class="content">
			          <h3 class="box_heading">Revenue</h3>
			          <p class="box_heading_numbers inc_num" id="channel_3_revenue" >153.5K <span id="channel_3_percentage_revenue">+21%</span>  <i class="fa fa-angle-up"></i></p>
			          <p class="box_sub_heading">   Compared to (<span id="channel_3_prev_revenue">120K</span> last month)</p>
			        </div>
			        <div class="channel_info_box">
			        	 <h3 class="channel_rank" id="channel_3_rank">2</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Global Rank</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_3_watch_time">765h 9m</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Watch Time</h3>
			        </div>
			        <div class="channel_info_box">
			        	<h3 class="channel_rank" id="channel_3_total_likes">784k</h3>  <!-- //This Value would be coming from DB -->
			        	<h3 class="channel_rank_label">Total Likes</h3>
			        </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 competitor_graph_box">
			        <div class="content">
			          <h3 class="box_heading">Statistics
			          	<ul class="stat_filters">
			          		<li class="active_filter">
			          			<h3>Views</h3>
			          		</li>
			          		<li>
			          			<h3>Subscribers</h3>
			          		</li>
			          	</ul>
			          </h3>
			          <div style="clear:both"></div>
						</select>
			          <canvas id="views_chart"></canvas>
			        </div>
		      	</div>
			</div>
		</section>
	</div>
	<!-- <div class="content_body">
		<div class="alert alert-primary" role="alert">
			View the comparision between your competitors from
			<a target="_blank" href="https://socialblade.com/youtube/compare/{{ competitors }}" class=" btn btn-min btn-sm btn-primary">Social Blade</a>
		</div>
	</div> -->
</div>
<script src="/assets/js/analysis/channel_graph.js"></script>