{% include '/analytics/tab_bar.html' %}
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> Competitor Analysis
			</h1>
		</div>
	</div>
	<div class="content_body">
		<div class="alert alert-primary" role="alert">
			View the comparision between your competitors from
			<a target="_blank" href="https://socialblade.com/youtube/compare/{{ competitors }}" class=" btn btn-min btn-sm btn-primary">Social Blade</a>
		</div>
	</div>
</div>