{% include '/analytics/tab_bar.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/analysis/mention.css">
<link rel="stylesheet" href="/assets/css/analysis/mention/leaf.css">
<script src="/assets/js/analysis/channel_graph.js"></script>
  <script src="/assets/js/analysis/mention/amcharts.js"></script>
  <script src="/assets/js/analysis/mention/amchartscore.js"></script>
  <script src="/assets/js/analysis/mention/jsdelivr.js"></script>
  <script src="/assets/js/analysis/mention/leaflet.js"></script>
  <script src="/assets/js/analysis/mention/animated.js"></script>
  <script src="/assets/js/analysis/mention/anychart.js" type="text/javascript"></script>
  <script src="/assets/js/analysis/mention/anycharts-world.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-data-adapter.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-map.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> Sentiment Analysis
			</h1>
		</div>
	</div>
  <div class="bg_color">
    <div class="container-fluid">
      <div class="row m-auto" style="background-clip: content-box;">
        <div class="col-lg-6 col-md-12 col-sm-12 box p-2" style="background-clip: content-box;">
          <div class="box-heading p-2">
              <h5>NUMBER OF MENTIONS</h5>
              <h6>25 MAR-30 MAY</h6>
          </div>
          <!-- button container section -->
          <div class="container mt-5 p-3">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="button-wrapper">
                          <div class="button">
                            <img src="/assets/images/mention/ng.png" alt="Button 1">
                            <div class="circle-content">
                              <h3>31 M</h3>
                              <h5>Tweets</h5>
                            </div>
                          </div>
                          <div class="label">
                            <h4>Twitter</h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="button-wrapper">
                          <div class="button">
                            <img src="/assets/images/mention/chat.png" alt="Button 2">
                            <div class="circle-content">
                              <h3>49K</h3>
                              <h5>mentions</h5>
                            </div>
                          </div>
                          <div class="label">
                            <h4>Message Boards</h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="button-wrapper">
                          <div class="button">
                            <img src="/assets/images/mention/wifi.png" alt="Button 3">
                            <div class="circle-content">
                              <h3>41K</h3>
                              <h5>mentions</h5>
                            </div>
                          </div>
                          <div class="label">
                            <h4>Blogs</h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="button-wrapper">
                          <div class="button">
                            <img src="/assets/images/mention/facebook.png" alt="Button 4">
                            <div class="circle-content">
                              <h3>36K</h3>
                              <h5>mentions</h5>
                            </div>
                          </div>
                          <div class="label">
                            <h4>Facebook</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 p-2" style="background-clip: content-box;">
          <div class="box p-2 h-100">
          <div class="box-heading p-2">
                <h5>SENTIMENT METER</h5>
                <h6>25 MAR-30 MAY</h6>
            </div>
            <!-- sentiment METER -->
            <div id="chartdiv1" style="width: 100%;height: 50%;"></div>

            <div class="sentiment-status">
                Slighty Positive
            </div>

            <!-- progress bar -->
            <div id="progress-container">
                <div id="section1" class="progress-section" style="width: 0%; left: 0;"></div>
                <div id="section2" class="progress-section" style="width: 0%; left: 0;"></div>
                <div id="section3" class="progress-section" style="width: 0%; left: 0;"></div>
            </div>
            <div class="progress-text">
                <p id="text1"></p>
                <p id="text2"></p>
                <p id="text3"></p>
            </div>
          </div>  
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 box p-2" style="background-clip: content-box;">
            <div class="box-heading p-2">
                <h5>SENTIMENT METER</h5>
                <h6>25 MAR-30 MAY</h6>
            </div>
            <div class="mt-5">
                <canvas id="myChart" height="200px"></canvas>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row m-auto" style="background-clip: content-box;">
            <div class="col-lg-3 col-md-12 col-sm-12 box p-2" style="background-clip: content-box;">
                <div class="box-heading p-2">
                    <h5>Number of Mentions</h5>
                    <h6>25 MAR-30 MAY</h6>
                </div>
                <div class="gender-box">
                    <div class="gender-box-inner">
                        <img src="/assets/images/mention/male.png" alt="">
                        <div class="male-text">
                            <h4>Male</h4>
                            <h2>56%</h2>
                        </div>
                    </div>
                    <div class="gender-box-inner" style="padding-right: 1.2rem;">
                        <img src="/assets/images/mention/female.png" style="width: 40%;" alt="">
                        <div class="female-text">
                            <h4>Female</h4>
                            <h2>44%</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 box p-2" style="background-clip: content-box;">
                <div class="box-heading p-2">
                    <h5>Number of Mentions</h5>
                    <h6>25 MAR-30 MAY</h6>
                </div>
                <div id="chartdiv" style="height: 400px;"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 box p-2" style="background-clip: content-box;">
                <div class="box-heading p-2">
                    <h5>Geo Distributions</h5>
                    <h6>25 MAR-30 MAY</h6>
                </div>
                <div id="container" style="height: 200px;" class="mt-5"></div>
            </div>
        </div>
    </div>
  </div>
</div>

  <script src="/assets/js/analysis/mention.js"></script>


