<div class="tab-container">
	<div class="uitabs">
		<ul class="uitabs-container">
			<li>
				<a class="{% if current_url_name == 'analytics_channels' %} active {% endif %}" href="{{ url('analytics_channels') }}">Subscription Analysis</a>
			</li>
			<li>
				<a class="{% if current_url_name == 'analytics_campaigns' %} active {% endif %}" href="{{ url('analytics_campaigns') }}">Campaigns Analysis</a>
			</li>
			<li>
				<a class="{% if current_url_name == 'analytics_competitors' %} active {% endif %}" href="{{ url('analytics_competitors') }}">Competitor Analysis</a>
			</li>
			<li>
				<a class="{% if current_url_name == 'analytics_YouTube' %} active {% endif %}" href="{{ url('analytics_YouTube') }}">YouTube Analysis</a>
			</li>
			<li>
				<a class=" {% if current_url_name == 'analytics_views' %} active {% endif %}" href="{{ url('analytics_views') }}">Viewership Analysis</a>
			</li>
			<li>
				<a class=" {% if current_url_name == 'analytics_mentions' %} active {% endif %}" href="{{ url('analytics_mentions') }}">Sentiment Analysis</a>
			</li>
			<li>
				<a class=" {% if current_url_name == 'analytics_whatsapp' %} active {% endif %}" href="{{ url('analytics_whatsapp') }}">WhatsApp Analysis</a>
			</li>
			<li>
				<a class=" {% if current_url_name == 'analytics_graph_whatsapp' %} active {% endif %}" href="{{ url('analytics_graph_whatsapp') }}">WhatsApp Graph Analysis</a>
			</li>
		</ul>
	</div>
</div>