{% include '/analytics/tab_bar.html' %}
<link rel="stylesheet" type="text/css" href="/assets/css/leads_section/leads_details.css">
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> WhatsApp Analysis
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="lead_table_parent">
            <div class="content_body">
                <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Sr no.</th>
                            <th>Mobile No</th>
                            <th>Template</th>
                            <th>Created</th>
                            <th>Sent</th>
                            <th>Delivered</th>
                            <th>Read</th>
                            <th>Replied</th>
                            <!-- <th>Content</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter = 0 %}
                        {% for analyt in whatsAppAnalytics %}
                        {% set counter = counter + 1 %}
                        <tr>
                            <td>{{counter}}</td>
                            <td>{{analyt.phone_number}}</td>
                            <td>{{analyt.whatsappBroadcastContnent.wp_template}}</td>
                            <td>{{ analyt.createdAt|date('d/m/Y h:m:s') }}</td>
                            <td>{{analyt.sent == 1 ? 'Yes' : 'No'}}</td>
                            <td>{{analyt.delivered == 1 ? 'Yes' : 'No'}}</td>
                            <td>{{analyt.read == 1 ? 'Yes' : 'No'}}</td>
                            <td>{{analyt.replied == 1 ? 'Yes' : 'No'}}</td>
                            <!-- <td>
                                <a href="{{ url('broadcasted_lead_details', {broadcast_id : analyt.whatsappBroadcastContnent.whatsappBroadcastContnentID}) }}" class="link-in-iframe">
                                    {{analyt.whatsappBroadcastContnent.whatsappBroadcastContnentID}}
                                </a>
                            </td> -->
                        </tr>
                        {% endfor %}
                        {% if whatsAppAnalytics|length == 0 %}
                        <tr>
                            <td colspan="5">No Records Found</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>

