{% include '/analytics/tab_bar.html' %}
<link rel="stylesheet" type="text/css" href="/assets/css/leads_section/leads_details.css">
<div class="admin_content active" style="height: 100%;">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				WhatsApp Analysis
			</h1>
		</div>
        <div class="col-6">
            <div class="row whatsapp_analysis_filter">
                <div class="col-4">
                    <input autocomplete="off" class="form-control date-picker" name="start_date" type="text" placeholder="From date" value="{{start_date}}">
                </div>
                <div class="col-4">
                    <input autocomplete="off" class="form-control date-picker" name="end_date" type="text" placeholder="To date" value="{{end_date}}">
                </div>
                <div class="col-4">
                    <select id="duration" name="duration" class="form-control wa_analysis_duration">
                        <option value="">Select Duration</option>
                        <option value="Weekly" {% if duration == "Weekly" %} selected {% endif %} >Weekly</option>
                        <option value="Monthly" {% if duration == "Monthly" %} selected {% endif %}>Monthly</option>
                        <option value="Quaterly" {% if duration == "Quaterly" %} selected {% endif %}>Quaterly</option>
                        <option value="Annually" {% if duration == "Annually" %} selected {% endif %}>Annually</option>
                    </select>
                </div>
            </div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="whatsapp_analysis_parent">
            <div class="content_body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info_content bottom_gap">
                            <div class="info_content_box">
                                <div class="info_content_part_left">
                                    <i class="fa fa-pie-chart no_of_camp_icons"></i>
                                </div>
                                <div class="info_content_part_right">
                                    <h3 class="box_heading mb-2">Total No. of Campaigns</h3>
                                    <p class="number_text" id="watch_time">{{totalLeads}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info_content bottom_gap">
                            <div class="info_content_box">
                                <div class="info_content_part_left">
                                    <i class="fa fa-money money_of_camp_icons"></i>
                                </div>
                                <div class="info_content_part_right">
                                    <h3 class="box_heading mb-2">Total Sent</h3>
                                    <p class="number_text" id="watch_time">{{totalSent}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter_by_campaign">
                            <i class="fa fa-pie-chart no_of_camp_icons"></i>
                            <select id="campaign_type" name="wa_campaign_type" class="form-control wa_campaign_type">   
                                <option value="all" selected>All Campaiagns</option>                     
                            {% for camp in allCampaigns %}
                            <option value="{{camp.wa_campaign}}">
                                Campaign - {{camp.wa_campaign_name}}
                            </option>
                            {% endfor %}
                            </select>
                            <input type="hidden" value="{{form_action}}" name="wa_leads_form_source" class="wa_leads_form_source" />
                        </div>
                    </div>
                    <div class="col-md-12 total_msg_section">
                        <h2 class="total_msgs">Total Messages: <span></span></h2>
                        <div id="whatsappAnalysisChart" class="mt-5 whatsapp_analysis_chart"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="/assets/js/analysis/whatsapp_analysis.js"></script>
