{% include '/analytics/tab_bar.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/leads_section/leads_details.css">
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-link"></i> WhatsApp Analysis
			</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="">
            <div class="content_body">
                <div class="wrapper">
                    <div class="line">
                        <div style="padding: 15px;display: table;">
                            <h3 class="box_heading">Replied Analysis</h3>
                            <div style="clear: both;"></div>
                            <div style="width:250px;overflow: auto">
                                <canvas style="display: inline-block;" width="250px" height="250px" id="audience_chart_replied"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="wordwrapper">
                        <div class="word">vs</div>    
                    </div>
                    <h3 class="box_heading">Sent Analysis</h3>
                    <div style="clear: both;"></div>
                    <div style="width:250px;overflow: auto">
                        <canvas style="display: inline-block;" width="250px" height="250px" id="audience_chart_sent"></canvas>
                    </div>
                </div>
                <br />
                <br />
                <div class="combine_graph bottom_gap">
                    <div class="graph_left">
                        <h3 class="box_heading">Analysis by Numbers</h3>
                        <canvas id="audience_chrt"></canvas>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
​

<style>
    .wrapper {
        position: relative;
        padding: 15px;
    }

    .line {
        position: absolute;
        left: 49%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #ccc;
        z-index: 1;
    }

    .wordwrapper {
        text-align: center;
        height: 12px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -12px;
        z-index: 2;
    }

    .word {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 3px;
        font: bold 16px arial,sans-serif;
        margin-left: -13px;
    }

    .box_heading {
        color: #606060;
        font-size: larger;
    }
  
</style>

<script>
    const audience_labels = JSON.parse('{{uniqueNumbers}}'.replace(/&quot;/g,'"'));
    let sentData = [];
    let deliveredData = [];
    let redData = [];
    let repliedData = [];
    for (let i in JSON.parse('{{indUniqueSentCounts}}'.replace(/&quot;/g,'"'))) {
        sentData.push(JSON.parse('{{indUniqueSentCounts}}'.replace(/&quot;/g,'"'))[i]);
    }
    for (let i in JSON.parse('{{indUniqueDeliveredCounts}}'.replace(/&quot;/g,'"'))) {
        deliveredData.push(JSON.parse('{{indUniqueDeliveredCounts}}'.replace(/&quot;/g,'"'))[i]);
    }
    for (let i in JSON.parse('{{indUniqueReadCounts}}'.replace(/&quot;/g,'"'))) {
        redData.push(JSON.parse('{{indUniqueReadCounts}}'.replace(/&quot;/g,'"'))[i]);
    }
    for (let i in JSON.parse('{{indUniqueRepliedCounts}}'.replace(/&quot;/g,'"'))) {
        repliedData.push(JSON.parse('{{indUniqueRepliedCounts}}'.replace(/&quot;/g,'"'))[i]);
    }
    const audience_country_data = {
      labels: audience_labels,
      datasets: [{
        label: 'Sent',
        data: sentData,
        backgroundColor: [
          '#73c3c6'
        ],
        borderColor: [
          '#73c3c6'
        ],
        borderWidth: 1
      },{
        label: 'Delivered',
        data: deliveredData,
        backgroundColor: [
          '#b0225f'
        ],
        borderColor: [
          '#b0225f'
        ],
        borderWidth: 1
      },{
        label: 'Read',
        data: redData,
        backgroundColor: [
          '#f18319'
        ],
        borderColor: [
          '#f18319'
        ],
        borderWidth: 1
      },{
        label: 'Replied',
        data: repliedData,
        backgroundColor: [
          '#03419f'
        ],
        borderColor: [
          '#03419f'
        ],
        borderWidth: 1
      }]
    };

    const audience_count_config = {
        type: 'bar',
        data: audience_country_data,
        options: {}
      };

    const audience_chrt = new Chart(
        document.getElementById('audience_chrt'),
        audience_count_config
      );

///////////////-----------------////////////////////////


      const total_sent_data = {
        labels: [
            `Sent (${JSON.parse('{{totalAnalysis}}'.replace(/&quot;/g,'"'))[0]})`
        ],
        datasets: [{
            label: ['Total Sent'],
            data: [JSON.parse('{{totalAnalysis}}'.replace(/&quot;/g,'"'))[0]],
            backgroundColor: [
            '#73c3c6'
            ],
            hoverOffset: 4
        }]
        };

        const total_sent_data_config = {
            type: 'doughnut',
            data: total_sent_data,
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        };
        const audience_chart_sent = new Chart(
            document.getElementById('audience_chart_sent'),
            total_sent_data_config,
        );
        

        const total_replied_data = {
        labels: [
            `Replied (${JSON.parse('{{totalAnalysis}}'.replace(/&quot;/g,'"'))[3]})`
        ],
        datasets: [{
            label: [`Total Replied`],
            data: [JSON.parse('{{totalAnalysis}}'.replace(/&quot;/g,'"'))[3]],
            backgroundColor: [
            '#03419f'
            ],
            hoverOffset: 4
        }]
        };

        const total_replied_config = {
            type: 'doughnut',
            data: total_replied_data,
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        };
        
        const audience_chart_replied = new Chart(
            document.getElementById('audience_chart_replied'),
            total_replied_config,
        );
</script>