<div class="container mt-5">
	<div class="alert alert-danger d-flex align-items-center text-center" role="alert">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
			<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</svg>
		<div>
			We are still under development! but you can try out some things already
		</div>
	</div>
	<div class="row justify-content-center">

		<div class="col-4"></div>
		<div class="col-4">
			<div class="card border-0 mb-0">
				<div class="card-body ">
					<div class="text-center mb-4">
						<h2 class="text-promulgate-primary">Login</h2>
					</div>
					<p class="text-center text-muted">via Social Media</p>
					<div class="form-group">
						<div class="d-flex justify-content-center align-items-center">
							<div id="g_id_onload"
									data-client_id="{{GOOGLE_OAUTH_CLIENT_ID}}"
									data-login_uri="https://{{ absolute_url('login')}}"
									data-context="signin"
									data-ux_mode="popup"
									data-callback="handleGoogleAuthLoginResponse"
									data-auto_select="false"
							>
							</div>
							<div class="g_id_signin"
									data-type="standard"
									data-shape="rectangular"
									data-theme="filled_blue"
									data-text="signin_with"
									data-size="large"
									data-logo_alignment="left"
							>
							</div>
						</div>
					</div>
					<br>
					<p class="text-center text-muted"> OR  </p>
					<form class="needs-validation" action="{{ form_action }}" novalidate>
						<input type="hidden" name="form_source" id="form_source" value="login">
						<input type="hidden" name="login_type" id="login_type" value="normal">
						<input type="hidden" name="login_provider" id="login_provider" value="self">

						<div class="form-group">
							<label for="email" class="form-label">Email</label>
							<input type="email" class="form-control" name="email" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="Password">
						</div>
						<div class="mt-5 text-center">
							<button type="submit" class="btn btn-promulgate-primary btn-min">Sign in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>
