    <nav class="side-bar-nav sidemenu transition-ease">
        <div class="nav-bar-collapse">
            <div class="tab-bar-nav">
                <div class="nav-bar-collapse">
            <ul class="nav-bar-nav">
                <!-- Check hide_super_side_bar before displaying -->
                    <li class="nav-item {% if current_url_name == 'super_agency_list' or 'super_employee_list' in current_url_name or current_url_name == 'super_add_new_agency' or current_url_name == 'super_add_new_employee' %} active {% endif %}">
                        <a class="nav-link{% if current_url_name == 'super_agency_list' or 'super_employee_list' in current_url_name or current_url_name == 'super_add_new_agency' or current_url_name == 'super_add_new_employee' %} active {% endif %}" 
                           href="{{ url('super_agency_list') }}"
                           data-toggle="collapse" 
                           role="button" 
                           aria-expanded="{% if current_url_name == 'super_agency_list' or 'super_employee_list' in current_url_name or current_url_name == 'super_add_new_agency' or current_url_name == 'super_add_new_employee' %}true{% else %}false{% endif %}" 
                           aria-controls="navbar-super-agency">
                            <i class="fa fa-building"></i>
                            <span class="nav-link-text">Agency</span>
                            <span class="nav-link-icon">
                                <i class="fa fa-caret-down {% if current_url_name == 'super_agency_list' or 'super_employee_list' in current_url_name or current_url_name == 'super_add_new_agency' or current_url_name == 'super_add_new_employee'%} fa-caret-up {% endif %}"></i>
                            </span>
                        </a>

                        <div class="collapse {% if current_url_name == 'super_agency_list' or 'super_employee_list' in current_url_name or current_url_name == 'super_add_new_agency'or current_url_name == 'super_add_new_employee' %} show {% endif %} sub-menu" id="navbar-super-agency">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item {% if current_url_name == 'super_agency_list' %} active {% endif %}">
                                    <a href="{{ url('super_agency_list') }}">Agency</a>
                                </li>
                                <li class="nav-item {% if current_url_name == 'super_employee_list' %} active {% endif %}">
                                    <a href="{{ url('super_employee_list') }}">Employees</a>
                                </li>
                            </ul>
                        </div>
                    </li>
            </ul>
        </div>
        <div class="toggle-icon">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        </div>
        </div>
    </nav>
