<style>
    .page_lead_broadcast .swal2-icon {
        border: none;
        margin: 0px;
    }

    .warning_note {
        color: red;
        font-size: 12px;
    }

    .wa_preview {
        width: 300px;
        margin: 0 auto;
        border: 1px solid #dee2e6;
        padding: 10px;
        text-align: left;
    }
    .wa_preview_header {
        font-weight: bold;
        font-size: 18px;
        color: #525f7f;
    }

    .wa_preview_body {
        font-size: 15px;
        color: #525f7f;
    }

    .wa_preview_footer {
        font-size: 14px;
        font-weight: 400;
        color: #bbb;
    }

    .wa_preview_header_img {
        width: 100%;
        height: 200px;
    }

    .wa_posting_title {
        margin-top: 1rem;
        font-size: 15px;
        text-align: left;
    }

    .wa_posting_content {
        font-size: 14px;
        padding-left: 0;
        text-align: left;
        margin-top: 0.5rem;
    }
    .wa_button_section {
        text-align: center;
    }
</style>
<div class="campaign_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-bullhorn"></i> Broadcast Message
			</h1>
		</div>
        <div class="col-6">
			<div class="col-12 action_buttons text_right">
                <a href="{{ url('add_templates') }}" class="btn btn-promulgate-primary btn-sm">
                    <span>Add Template</span>
                    <i class="fa fa-plus"></i>
                </a>
            </div>
		</div>
	</div>
	<div class="content_body">
		{% set social_icon_size = 'fa-1x' %}
		<div class="accordion" id="curation_channels_accordion">
			<div class="accordion-item">
				<h2 class="accordion-header" id="channel_whatsapp_heading">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#channel_whatsapp_content" aria-expanded="true" aria-controls="channel_whatsapp_content">
						Whats app
					</button>
				</h2>
				<div id="channel_whatsapp_content" class="accordion-collapse collapse show" aria-labelledby="channel_whatsapp_heading" data-bs-parent="#curation_channels_accordion">
					<div class="accordion-body accordion_channel_content">
						<form class="needs-validation" action="{{ form_action }}" enctype="multipart/form-data" novalidate id="curation_channel_whatsapp" disabled="disabled">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="selected_leads" id="curation_channel" value="{{selected_leads|json_encode()}}">
                                    <input type="hidden" name="curation_channel" id="curation_channel" value="whatsapp">
                                    <input type="hidden" name="curation_channel_unique_name" id="curation_channel_unique_name" value="whatsapp">
                                    <input type="hidden" name="form_source" id="form_source" value="whatsapp_content_curation">

                                    <code class="social_icon_block d-none">
                                        <span class="m-2 social-icons icon-circle icon-zoom">
                                            {% set social_icon_unique_key = "whatsapp" %}
                                            {% include 'social_icons.html' %}
                                        </span>
                                    </code>

                                    
                                    <div class="row align-center">
                                        <div class="col-10">
                                            <div class="form-group mb-4">
                                                <label for="wa_template">Template</label>
                                                <select  class="js-select-2 form-control" id="wa_template"
                                                    name="wa_template" data-placeholder--id="0" data
                                                        -placeholder--text="Whatsapp Template">
                                                    <option value="null">Select Template</option>
                                                    {% for tmpl in wp_templates %}
                                                        <option  value="{{ tmpl.name }}" data-component="{{tmpl.components|json_encode()}}" data-status="{{tmpl.status}}" data-lang="{{tmpl.language}}">{{ tmpl.name }} - {{ tmpl.status }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input id="wa_template_lang" type="hidden" name="wa_template_lang" value="" />
                                                <input id="wa_file_url" type="hidden" name="wa_file_url" value="" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" data-channel-source="whatsapp" class="btn btn-sm btn-promulgate-primary wa_template_preview">
                                                    Preview
                                                </button>
                                        </div>
                                     
                                    </div>
                                    <div class="row align-center">
                                        <div class="form-group ">
                                            <label>When to Post
                                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="You can select multiple times by clicking on Add New"></i>
                                            </label>
                                            <button data-channel-source="whatsapp" type="button" class="btn btn-promulgate-primary btn-sm add_new_post_at">
                                                <span>Add New</span>
                                                <i class="fa fa-calendar-plus-o"></i>
                                            </button>
                                            <div class="post_at_group mt-2">
                                                <input autocomplete="off" class="form-control main_post_at date-time-picker-min-time" name="when_to_post[]" type="text" placeholder="Pick the time to post">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4 content_action_buttons">
                                        <div class="text-center">
                                            <!-- <button type="button" data-channel-source="whatsapp" class="btn btn-promulgate-primary wa_template_preview">
                                                Preview
                                            </button> -->
                                            <button data-channel-source="whatsapp" class="btn btn-min btn-success" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

