{% include '/super/tab_bar.html' %}
<div class="admin_content active">
<div class="row content_header">
            <div class="col-6">
                <h1 class="title">
                    <i class="fa fa-building"></i> Agency
                </h1>
            </div>
            <div class="col-6 action_buttons">
                <a class="btn btn-promulgate-primary btn-sm" href="{{ url('super_add_new_agency') }}">
                    <span>Add Agency</span>
                    <i class="fa fa-user-plus"></i>
                </a>
            </div>
        </div>
        <div class="content_body">
            <div class="row">
            <table class="table data-table table-hover table-bordered align-middle size">
                <thead>
                    <tr class="text-center">
                        <th>Agency Name</th>
                        <th>Agency Email</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in agency_list %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>{{ team.email }}</td>
                        <td>{{ team.description }}</td>
                        <td class="text-center">
                            <div class="d-inline-flex justify-content-center align-items-center gap-2">
                                <a href="#" 
                                class="btn btn-outline-primary edit-agency-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#editAgencyModal"
                                data-agencyId="{{ team.agencyId }}">
                                <span><i class="fa fa-edit"></i></span>
                                </a>
                            <a href="{{ url('super_agency_details', {agency_id : team.agencyId}) }}" class="btn btn-outline-success">
                                <span>View&nbsp;Details</span>
                            </a>
                            <!-- <a href="{{ url('agency_Empdetails', {agency_id : team.agencyId}) }}" class="link-in-iframe btn btn-sm btn-outline-success">
                                <span><i class="fa fa-eye"></i> View Emp</span>
                            </a> -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
    </div>


<!-- Edit Agency Modal -->
<div class="modal fade" id="editAgencyModal" tabindex="-1" aria-labelledby="editAgencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAgencyModalLabel">Edit Agency</h5>
        </div>
        <div class="modal-body">
          <form id="editAgencyForm">
            <input type="hidden" id="magencyId">
            <div class="mb-3">
              <label for="agencyName" class="form-label">Agency Name</label>
              <input type="text" class="form-control" id="agencyName" required>
            </div>
            <div class="mb-3">
              <label for="agencyEmail" class="form-label">Agency Email</label>
              <input type="email" class="form-control" id="agencyEmail" required>
            </div>
            <div class="mb-3">
              <label for="agencyDescription" class="form-label">Description</label>
              <textarea class="form-control" id="agencyDescription" rows="3"></textarea>
            </div>
            <div class="modal-footer">
				<button class="btn btn-min btn-promulgate-primary" type="submit">
					Update
			    </button>
			<button class="btn btn-min btn-outline-danger" data-bs-dismiss="modal" type="reset">Close</button>
			</div>
          </form>
        </div>
      </div>
    </div>
</div>