{% include '/super/tab_bar1.html' %}

<div class="admin_content active">
    <div class="row content_header">
        <div class="col-9">
            <h1 class="title">
                <i class="fa fa-building"></i> Employee Details
            </h1>
        </div>
        <div class="action_buttons col-3">
				<a href="{{ url('super_agency_list') }}" class="btn btn-promulgate-primary">Back to SuperAgency</a>
		</div>
    </div>

    <div class="content_body">
        <div class="row">
            <table class="table data-table-emply table-hover table-bordered align-middle size">
                <thead>
                    <tr class="text-center">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employee_list %}
                    <tr>
                        <td>{{ employee.firstName }}</td> <!-- Display first name -->
                        <td>{{ employee.lastName }}</td> <!-- Display last name -->
                        <td>{{ employee.userName }}</td> <!-- Display username -->
                        <td>{{ employee.email }}</td> <!-- Display email -->
                        <td>{{ employee.userStatus }}</td> <!-- Display user status -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
