{% include '/super/tab_bar.html' %}
<div class="admin_content active">
	<div class="row content_header">
		<div class="col-6">
			<h1 class="title">
				<i class="fa fa-users"></i> Employee
			</h1>
		</div>
		{% if user_agency.id %}
		<div class="col-6 action_buttons">
			<a class="btn btn-promulgate-primary btn-sm" href="{{ url('super_add_new_employee') }}">
				<span>Add Employee</span>
				<i class="fa fa-user-plus"></i>
			</a>
		</div>
		{% endif %}
	</div>
	<div class="content_body">
		{% if user_agency.id %}
		<div class="row">
			{% if employee_list %}
			<table class="table data-table table-hover table-bordered align-middle">
				<thead>
				<tr class="text-center">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>User Status</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for team in employee_list %}
				<tr>
					<td>{{ team.firstName }}</td>
					<td>{{ team.lastName }}</td>
					<td>{{ team.userName }}</td>
					<td>{{ team.email }}</td>
					<td>{{ team.userStatus }}</td>
					<td class="text-center">
						<a href="#" class="btn btn-outline-primary">
							<span><i class="fa fa-edit"></i></span>
						</a>
						<a href="#" class="btn btn-outline-danger">
							<span><i class="fa fa-trash-o"></i></span>
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="row mt-5">
				<div class="text-center">
					<h3>No team members are available</h3>
					<a class="btn btn-promulgate-primary btn-min mt-5" href="{{ url('super_add_new_employee') }}">
						<span>Add New</span>
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			{% endif %}
		</div>
		{% else %}
		<div class="row mt-5">
			<div class="text-center">
				<h3 class="page-data-needed-block animate__animated animate__pulse">Please create Agency for adding your team!</h3>
				<h5 class="mt-5">
					<a href="{{ url('super_agency_list') }}" class="btn btn-promulgate-secondary">
						Create Agency
					</a>
				</h5>
			</div>
		</div>
		{% endif %}
	</div>
</div>